body 
{
    margin: 0;
    padding: 0;
	background-color: lightblue;
	background-image: url('../img/mountain.jpg');
 	background-position: center;
 	background-size: cover;
 	background-repeat: no-repeat;
 	height: 100vh;
 	overflow-y: hidden;
 }

 .container	
{
	margin-top: 60px;
}

div h1
{
	font-family: 'Tangerine', serif;
    font-size: 75px;
    text-shadow: 4px 4px 4px #aaa;
}

div h4
{
	font-family: 'Tangerine', serif;
	font-size: 40px;
}

#quotes
{
	width: 50%;
	margin: auto;
	margin-top: 50px;
}

#quote
{
	font-family: 'Great Vibes', cursive;
	font-size: 45px;
}

#author
{
	font-family: 'Great Vibes', cursive;
	font-size: 30px;
}


#button
{
	margin-top: 30px;
}

.btn
{
	margin: 10px;
}
